
 	

/* #Reset & Basics
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		color:000;

		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }

	ol, ul {list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
/*ul li{display:inline; padding-left:30px; font-size:20px;}*/
/* #Reset & Basics 
================================================== */
	

/* ===================================Estilos Generales ==============================*/
.clearFloat{
clear: both;
}
body{
font-family: Arial, Helvetica, sans-serif;

}
body{
background-color:#eee;
}

.strongclass{
font-weight:bold;

}


body{
	    background: url('../image/bgImageSite.png') repeat scroll 0% 0% #FFF;
}
/*
body {
scrollbar-face-color: #006699;
scrollbar-shadow-color: #DEEBF5;
scrollbar-highlight-color: #DEEBF5;
scrollbar-3dlight-color: #5F8ABD;
scrollbar-darkshadow-color: #5F8ABD;
scrollbar-track-color: #F5F5F5;
scrollbar-arrow-color: #FFFFFF;
}
*/

.Home{
margin-top:5%;

}
.productos{
margin-top:5%;

}
.folletos{
margin-top:5%;

}
.quienessomos{
margin-top:5%;

}

/* ===================================Estilos Generales ==============================*/
	
	
/* ===================================Estilos Home ==============================*/
.mainContainer{
width: 960px; margin: auto; background: #fff; 
height:100%;
padding-top:5px;
padding-bottom:5px;
margin-bottom: 30px;
}



/* ====== Estilos Menú ====== */
.blqContainer{
width: 186px; 
height:93px;
background-color:#fff;
float:left;
margin-right:5px;
}

.blqContainer{
font-size:9px;
color:#fff;

}

.blqContainer .ContSup{
height:63px;
margin-bottom:2px;
background-color:#918f83;
font-size:9px;
}

.blqContainer .ContInf{
height:28px;
background-color:#182d70;

}

.ItemMnu a{
font-family: "Arial Black", Gadget, sans-serif;
font-size: 15px;
text-align:center;
color:#fff;
text-decoration:none;
display:block;
margin: auto;
height:28px;
width:100%;
padding-top: 3px;
/*-webkit-margin-top:3px;*/
}
.ItemMnu a:hover{
color:#182d70;
background-color:#ccc;
height:28px;
}
.ContSup p{
margin-left:4px;
}
.ContSup2 p{
margin-left:0px!important;
}
.ItemMnu2 a{
height:43px!important;
width:100%;
padding-top:20px;
}
.linkNivel2:hover{
color:#ccc!important;
opacity:1!important;
}
.Home .blqContainer .ContSup3{
background-color:transparent!important;
}

.Home .blqContainer .ContInf3{
background-color:transparent!important;
}
.Home .ItemMnu a{
height: 28px;
}


/* ====== Estilos Menú ====== */

.Home .blqNivel2{
margin-top:5px;

}
.productos .blqC1:hover{
opacity:1!important;
filter:alpha(opacity=100)!important; /* For IE8 and earlier */

}

.blqNivel2:hover{
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}
.Home .blqC1{
background-image: url('../image/lanamineral.jpg');
}
.Home .blqC2{
background-image: url('../image/media_cana.jpg');
}
.Home .blqC3{
background-image: url('../image/rollo.jpg');
}
.Home .blqC4{
background-image: url('../image/rollo-a.jpg');
}
.Home .blqC5{
background-image: url('../image/rolloa.jpg');
}
.Home .blqC6{
background-image: url('../image/poliestirero.jpg');
}
.Home .blqC7{
background-image: url('../image/plancha.jpg');
}
.Home .blqC8{
background-image: url('../image/bloke.jpg');
}
.Home .blqC9{
background-image: url('../image/panel.jpg');
}
.Home .blqC10{
background-image: url('../image/bloque.jpg');
}
.Home .blqC11{
background-image: url('../image/serv.jpg');
}

.Home .blqC12{
background-image: url('../image/montajes2.jpg');
}
.Home .blqC13{
background-image: url('../image/montaje1.jpg');
}
.Home .blqC14{
background-image: url('../image/montajes3.jpg');
}
.Home .blqC15{
background-image: url('../image/montajes.jpg');
}
.Home .linkNivel2{
padding-left:10px;
padding-right:10px;
padding-top:56px;
display:block;
height:36px!important;
width:170px;
/*background-color:red;*/
font-family: "Arial Black", Gadget, sans-serif;
font-size: 12px;
text-align:center;
color:#fff;
text-decoration:none;
margin: auto;
}

/* ===================================Estilos Home ==============================*/


/* ===================================Estilos Menú Lateral ==============================*/
#menu{
/*	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;*/
	-webkit-box-shadow:1px 1px 3px #888;
	-moz-box-shadow:1px 1px 3px #888;
	/*overflow:hidden!important;*/
}
#MenuLeftContainer .blqC1 {
	/*overflow:hidden!important;*/
	
	
}

#menu li{border-bottom:1px solid #FFF;}
#menu ul li, #menu li:last-child{border:none;}	
#menu a{
	display:block;
	color:#006;
	text-decoration:none;
	font-family:'Helvetica', Arial, sans-serif;
	font-size:13px;
	padding:3px 5px;
	/*text-shadow:1px 1px 1px #ccc;*/
}
#menu a:hover{
	color:#182D70;
	-webkit-transition: color 0.2s linear;
	background-color:#918F83;
}

#menu .btnactive{
	color:#182D70;
	-webkit-transition: color 0.2s linear;
	background-color:#ccc;
}

.bloqMn p{
	color:#006;
}


#menu ul a{
/*background-color:#6594D1;*/
background-color:#ccc;
}
#menu ul a:hover{
	background-color:#FFF;
	/*color:#2961A9;*/
	color:#918F83;
	/*border-top: solid 1px #000;
	border-bottom: solid 1px #000;*/
	text-shadow:none;
	-webkit-transition: color, background-color 0.2s linear;
	
}
#menu ul{
	display:block;
	background-color:#2961A9;
	margin:0;
	padding:0;
	width:186px;
	list-style:none;
	overflow:hidden!important;
}
#menu ul{
/*background-color:#6594D1;*/
background-color:#ccc;

}
#menu li ul {display:none;}


/* ===================================Estilos Menú Lateral ==============================*/


/* ===================================Estilos Productos ==============================*/


.productos .blqNivel2{
margin-top:5px;
}
.productos .blqNivel2:hover{
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}
.productos .blqC1{
/*background-image: url('../image/lanamineral.jpg');*/
}
.productos .blqC2{
background-image: url('../image/media_cana.jpg');
}
.productos .blqC3{
background-image: url('../image/rollo.jpg');
}
.productos .blqC4{
background-image: url('../image/rollo-a.jpg');
}
.productos .blqC5{
background-image: url('../image/rolloa.jpg');
}
.productos .blqC6{
background-image: url('../image/lanamineral.jpg');
}
.productos .blqC7{
background-image: url('../image/panel1.jpg');
}
.productos .blqC8{
background-image: url('../image/rolloa.jpg');
}
.productos .blqC9{
background-image: url('../image/media_cana.jpg');
}
.productos .blqC10{
background-image: url('../image/rollo.jpg');
}
.productos .blqC11{
background-image: url('../image/lana.jpg');
}

.productos .blqC12{
background-image: url('../image/lana.jpg');
}
.productos .blqC13{
background-image: url('../image/plancha.jpg');
}
.productos .blqC14{
background-image: url('../image/bloke.jpg');
}
.productos .blqC15{
background-image: url('../image/media.jpg');
}
.productos .blqC16{
background-image: url('../image/panel.jpg');
}
.productos .blqC17{
background-image: url('../image/bloque.jpg');
}
.productos .linkNivel2{
padding-left:10px;
padding-right:10px;
padding-top:56px;
display:block;
height:36px!important;
width:166px;
/*background-color:red;*/
font-family: "Arial Black", Gadget, sans-serif;
font-size: 12px;
text-align:center;
color:#fff;
text-decoration:none;
margin: auto;
}

.contCjaProd1{


}

.contCjaProd2{
width:759px; height: 387px; float:left; margin-top:5px;

}

.contCjaProd2 .cjaCon1{
width:186px;height:387px;float:left;
}
.contCjaProd2 h3{
color: #006;
font-family: Arial Black,Gadget,sans-serif;
font-size: 14px;
}

.contCjaProd2 .parrfCont1{
color: #006;
font-family: Arial,Helvetica,sans-serif;
font-size:12px;
}

.simpleList{

color: #006;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
list-style-type:disc;
margin-left: 15px;
margin-top:10px;
}


.contTxtClientes .simpleList h3 {
font-size: 13px;
font-weight:bold;
font-family: Arial,Helvetica,sans-serif;

}

.simpleList li{
margin-bottom:10px;
}
/* ===================================Estilos Productos ==============================*/


/* ===================================Estilos Quienes somos ==============================*/
.qsomos1{
display:block;
width:186px;
height:276px;
background-image: url('../image/quienes_somos1.jpg');
}
.qsomos1:hover{
background-image: url('../image/quienes_somos1_hover.jpg');
opacity: 0.8; 
filter:alpha(opacity=90); /* For IE8 and earlier */
-webkit-transition-duration:1s;
-moz-transition-duration: 1s; 
 -o-transition-duration: 1s;
transition-duration: 1s;
}
.qsomos2{
display:block;
width:186px;
height:276px;
background-image: url('../image/quienes_somos2.jpg');
}
.qsomos2:hover{
background-image: url('../image/quienes_somos2_hover.jpg');
opacity: 0.8; 
filter:alpha(opacity=90); /* For IE8 and earlier */
-webkit-transition-duration:1s;
-moz-transition-duration: 1s; 
 -o-transition-duration: 1s;
transition-duration: 1s;
}
.qsomos3{
display:block;
width:186px;
height:276px;
background-image: url('../image/quienes_somos3.jpg');
}
.qsomos3:hover{
background-image: url('../image/quienes_somos3_hover.jpg');
filter:alpha(opacity=90); /* For IE8 and earlier */
opacity: 0.8; 
-webkit-transition-duration:1s;
-moz-transition-duration: 1s; 
 -o-transition-duration: 1s;
transition-duration: 1s;
}

/* ===================================Estilos Quienes somos ==============================*/


.Mainfooter{
width: 950px; 
margin-top:5px;
margin-left:5px;
margin-right:5px;
/*background: #eee; */
background-color: #222;
padding-top:25px;
padding-bottom:25px;
color: #bbb;

}

.Mainfooter p{
text-align:center;
margin-bottom:2px;
font-family: "Arial", Gadget, sans-serif;
font-size: 12px;
}
.Mainfooter p span{
color:#fff;
}

/* ===================================Estilos Servicios ==============================*/


/* --- */

.servicios{
margin-top:5%;

}

.servicios .blqC1:hover{
opacity:1!important;
filter:alpha(opacity=100)!important; /* For IE8 and earlier */

}


.servicios .blqNivel2{
margin-top:5px;
}
.servicios .blqNivel2:hover{
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}
.servicios .blqC1{
/*background-image: url('../image/lanamineral.jpg');*/
}
.servicios .blqC2{
background-image: url('../image/andamios.jpg');
width: 186px; 
height:276px;	
}
.servicios .blqC3{
background-image: url('../image/servicios1.jpg');
width: 186px; 
height:276px;	
}
.servicios .blqC4{
background-image: url('../image/spraylanamineral.jpg');
width: 186px; 
height:276px;	
}
.servicios .blqC5{
background-image: url('../image/camarafrig.jpg');
width: 186px; 
height:276px;	
}

.servicios .linkNivel2{
padding-left:10px;
padding-right:10px;
padding-top:56px;
display:block;
height:36px!important;
width:166px;
/*background-color:red;*/
font-family: "Arial Black", Gadget, sans-serif;
font-size: 12px;
text-align:center;
color:#fff;
text-decoration:none;
margin: auto;
}


/* ===================================Estilos Clientes ==============================*/


/* --- */

.clientes{
margin-top:5%;

}

.clientes .blqC1:hover{
opacity:1!important;
filter:alpha(opacity=100)!important; /* For IE8 and earlier */

}


.clientes .blqNivel2{
margin-top:5px;
}
.clientes .blqNivel2:hover{
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}
.clientes .blqC1{
/*background-image: url('../image/lanamineral.jpg');*/
}
.clientes .blqC2{
/*background-color:silver;*/
width: 377px; 
min-height:385px!important;	
}
.clientes .blqC3{
/*background-color:silver;*/
width: 377px; 
min-height:385px!important;	
}

.clientes .linkNivel2{
padding-left:10px;
padding-right:10px;
padding-top:56px;
display:block;
height:36px!important;
width:166px;
/*background-color:red;*/
font-family: "Arial Black", Gadget, sans-serif;
font-size: 12px;
text-align:center;
color:#fff;
text-decoration:none;
margin: auto;
}

.contTxtClientes{
margin-top:10px;
margin-left:10px;
color: #006;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;

}

.clientes .contCjaProd1 .blqContainer {
height:100%; margin-bottom:10px;
}


/* ===================================Estilos Folletos ==============================*/
.ListFolletos{
color: #006;
text-decoration:none;
}
.ListFolletos:hover{
color: #918F83;
text-decoration:underline;
}



/* ===================================Estilos Home Devices ==============================*/


.home_devices p{
font-family: Arial, Helvetica, sans-serif;
}


/* ===================================Estilos Contactos ==============================*/

.contactos{
margin-top:5%;
}

.contactos .cjaCon1{
width: 376px;
}
.contactos .cjaCon2{
width: 567px;
	
}

.contactos .ItemMnu a{
height: 28px;
}

#mensajeCliente{
width:320px;
}
#mailCliente{
width:320px;
}
#nombreCliente{
width:320px;
}

/* =================================== Media Query Responsive ==============================*/
.home_devices{display:none\9; /* ie8 hack */*display:none; /* ie7 hack */}

@media screen and (min-width:761px){ 
.home_devices{display:none;}
.Home{display:block;}
}

@media screen and (max-width:760px){ 
.home_devices{display:block;}
.Home{display:none;}
}